include whatsfly/dependencies/whatsmeow/*.so
include whatsfly/dependencies/whatsmeow/*.dll
include whatsfly/dependencies/whatsmeow/*.dylib
include whatsfly/dependencies/whatsmeow/*.h
include whatsfly/dependencies/*.*
